<p>Hello <%= @user.first_name %>,</p>
<p>You have registered with PengWin. Please click on this link to activate your account</p>
<%= link_to edit_account_verification_url(id: @user.account_verification_token),
  edit_account_verification_url(id: @user.account_verification_token) %>
<br/>
<p> Regards, </p>
<br/>
<p> The PengWin team </p>
