<h1>All Competitions</h1>

<% @competition.each do |comps| %>
  <div>
    <h3>
      <%= link_to comps.title, competition_path(comps) %>
      <% if comps.image.present? %>
        <%= image_tag comps.image.url(:thumb) %>
      <% end %>
      <hr>
    </h3>
  </div>
<% end %>
