<h1>About</h1>

<a class="btn btn-primary" data-popup-open="popup-2" href="#"><strong>Enter Competition</strong></a>

<div class="popup" data-popup="popup-2">
  <div class="popup-inner">
    <h2>Awesome! You've entered the competition</h2>
    <h3>Good Luck!</h3>
        <p><a data-popup-close="popup-2" href="#">Close</a></p>
    <a class="popup-close" data-popup-close="popup-2" href="#">x</a>
  </div>
</div>
