<div class="container">

  <h1>About</h1>

  <p>A web application that promotes businesses for free and at the same time build awareness and online presence through online contests. The general users can share the contests through popular social media platforms to increase their chances of winning.</p>


<%= link_to 'Leave a message', new_message_path %>


</div>
