<h1>User Dashboard</h1>

<%= render "live_contests" %>

<%= render "draft_contests" %>

<%= render "past_contests" %>
<!-- Modal -->
<div class="modal fade" id="edit-contest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>
